[submodule "alphafold2/ref-src/alphafold-official"]
	path = alphafold2/ref-src/alphafold-official
	url = https://github.com/deepmind/alphafold.git
[submodule "alphafold2/ref-src/openfold"]
	path = alphafold2/ref-src/openfold
	url = https://github.com/aqlaboratory/openfold.git
[submodule "alphafold2/ref-src/colabfold"]
	path = alphafold2/ref-src/colabfold
	url = https://github.com/sokrypton/ColabFold.git
[submodule "alphafold2/ref-src/mmseqs2"]
	path = alphafold2/ref-src/mmseqs2
	url = https://github.com/soedinglab/MMseqs2.git
[submodule "alphafold2/ref-src/hh-suite"]
	path = alphafold2/ref-src/hh-suite
	url = https://github.com/soedinglab/hh-suite.git
[submodule "alphafold2/ref-src/trRosetta2"]
	path = alphafold2/ref-src/trRosetta2
	url = https://github.com/RosettaCommons/trRosetta2.git
[submodule "alphafold2/ref-src/esm"]
	path = alphafold2/ref-src/esm
	url = https://github.com/facebookresearch/esm.git
[submodule "alphafold2/ref-src/unirep"]
	path = alphafold2/ref-src/unirep
	url = https://github.com/churchlab/UniRep.git
[submodule "alphafold2/ref-src/seqvec"]
	path = alphafold2/ref-src/seqvec
	url = https://github.com/rostlab/SeqVec.git
[submodule "alphafold3/ref-src/alphafold3-official"]
	path = alphafold3/ref-src/alphafold3-official
	url = https://github.com/google-deepmind/alphafold3.git
[submodule "alphafold3/ref-src/alphafold3-pytorch"]
	path = alphafold3/ref-src/alphafold3-pytorch
	url = https://github.com/lucidrains/alphafold3-pytorch.git
[submodule "alphafold3/ref-src/alphafold3-walkthrough"]
	path = alphafold3/ref-src/alphafold3-walkthrough
	url = https://github.com/shenyichong/alphafold3-architecture-walkthrough.git
[submodule "boltz/ref-src/boltz-official"]
	path = boltz/ref-src/boltz-official
	url = https://github.com/jwohlwend/boltz.git
[submodule "boltz/ref-src/boltzina"]
	path = boltz/ref-src/boltzina
	url = https://github.com/ohuelab/boltzina.git
